#map {
    height: 600px;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.my-container {
    margin-left: 50px;
    background: rgb(170, 170, 170);
    background-repeat: no-repeat;
}

.my-card {
    border-radius: 1rem;
    background-color: whitesmoke;
    box-shadow: 2px 2px gray;
    border: 0.5px solid grey;
}

.my-card-row {
    height: 120px;
}

.my-img {
    height: 100px;
    width: 100px;
}

.my-card-col {
    font-size: small;
}